<div class="contenedor-header">
  <header>
    <div class="logo">
      <a routerLink="/inicio">Kevin</a>
    </div>

    <!-- Navegación -->
    <nav [ngClass]="{'nav-active': menuVisible}">
      <ul>
        <li><a routerLink="/inicio" routerLinkActive="active" class="nav-link">INICIO</a></li>
        <li><a routerLink="/sobremi" routerLinkActive="active" class="nav-link">SOBRE MI</a></li>
        <li><a routerLink="/skills" routerLinkActive="active" class="nav-link">SKILLS</a></li>
        <li><a routerLink="/curriculum" routerLinkActive="active" class="nav-link">CURRICULUM</a></li>
        <li><a routerLink="/portfolio" routerLinkActive="active" class="nav-link">PORTAFOLIO</a></li>
        <li><a routerLink="/contacto" routerLinkActive="active" class="nav-link">CONTACTO</a></li>
      </ul>

    </nav>

    <!-- Ícono de Menú Hamburguesa -->
    <div class="nav-responsive" (click)="toggleMenu()">
      <i class="fa-solid fa-bars"></i>
    </div>
  </header>
</div>
