<div class="contenedor-header">
  <header>
      <div class="logo">
          <a routerLink="/inicio">Kevin</a>
      </div>
      <nav id="nav">
          <ul>
              <li><a routerLink="/inicio" class="nav-link">INICIO</a></li>
              <li><a routerLink="/sobremi" class="nav-link">SOBRE MI</a></li>
              <li><a routerLink="/skills" class="nav-link">SKILLS</a></li>
              <li><a routerLink="/curriculum" class="nav-link">CURRICULUM</a></li>
              <li><a routerLink="/portfolio" class="nav-link">PORTFOLIO</a></li>
              <li><a routerLink="/contacto" class="nav-link">CONTACTO</a></li>
          </ul>
      </nav>
      <div class="nav-responsive" ><!--(click)="mostrarOcultarMenu()"-->
          <i class="fa-solid fa-bars"></i>
      </div>
  </header>
</div>
