<section id="contacto" class="contacto">
  <div class="contenido-seccion pt-5 mt-5">
      <h2>CONTACTO</h2>
      <div class="fila">
          <!-- Formulario -->

          <div class="col">
            <form action="https://formsubmit.co/kevincastrogomez64@gmail.com" method="POST" >
              <input type="text" placeholder="Tú Nombre" name="name">
              <input type="text" placeholder="Número telefónico" name="number">
              <input type="text"  placeholder="Dirección de correo" name="Email">
              <input type="text"  placeholder="Tema" name="topic">
              <textarea name="Mensage" id="" cols="30" rows="10" placeholder="Mensaje"></textarea>
              <button type="submit" value="Enviar">
                  Enviar Mensaje <i class="fa-solid fa-paper-plane"></i>
                  <span class="overlay"></span>
              </button>
            </form>
          </div>

          <!-- Mapa -->
          <div class="col">
              <img src="assets/ubicación.png" alt="">
              <div class="info">
                  <ul>
                      <li>
                          <i class="fa-solid fa-location-dot"></i>
                          Medellín Colombia, Calle 92 #83-46
                      </li>
                      <li>
                          <i class="fa-solid fa-mobile-screen"></i>
                          Llamame: (+57) 300 801 4847
                      </li>
                      <li>
                          <i class="fa-solid fa-envelope"></i>
                          Email: kevincastrogomez64gmail.com
                      </li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
</section>
