<section id="portfolio" class="portfolio pt-5 mt-5">
  <div class="contenido-seccion">
      <h2>PORTFOLIO</h2>
      <div class="galeria">
          <div class="proyecto">
              <img src="assets/gifs.jpg" alt="">
              <div class="overlay">
                  <h3><a href="https://github.com/venus-kevin807/03-gifs-app" target="_blank">GifsApp</a></h3>
                  <p>Angular Proyect</p>
              </div>
          </div>
          <div class="proyecto">
            <img src="assets/movies.jpg" alt="">
            <div class="overlay">
                <h3><a href="https://moviesweb-38b5d.web.app/#/index" target="_blank">MoviesWeb</a></h3>
                <p>Angular Proyect</p>
            </div>
        </div>
          <div class="proyecto">
              <img src="assets/paises.png" alt="">
              <div class="overlay">
                  <h3><a href="https://github.com/venus-kevin807/03-gifs-app" target="_blank">CountriesApp</a></h3>
                  <p>Angular Proyect</p>
              </div>
          </div>
          <div class="proyecto">
              <img src="assets/nuestraruta.png" alt="" >
              <div class="overlay">
                  <h3><a href="https://github.com/Laverienko/Nuestra-ruta-final" target="_blank">Nuestra Ruta</a></h3>
                  <p>Estatic Web</p>
              </div>
          </div>
          <div class="proyecto">
              <img src="assets/citasmedicas.png" alt="">
              <div class="overlay">
                  <h3><a href="https://github.com/venus-kevin807/CitasMedicas" target="_blank">Citas Medicas</a></h3>
                  <p>MVC proyect</p>
              </div>
          </div>
          <div class="proyecto">
              <img src="assets/lt.jpg" alt="">
              <div class="overlay">
                  <h3><a href="https://github.com/venus-kevin807/Lista-de-Tareas-WEB-ll-Kevin-Castro" target="_blank">Lista de tareas</a></h3>
                  <p>Lista de tareas</p>
              </div>
          </div>

      </div>
  </div>
</section>
