<section class="vh-100 vw-100 d-flex align-items-center justify-content-center pt-5 mt-5" style="background: linear-gradient(to top, rgba(30,35,38,.8), rgba(30,35,38,1)), url(img/fondo.jpg);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-4 col-md-6 mx-auto">
        <div class="bg-dark text-white p-4 rounded-4">
          <div class="text-center">
            <img src="assets/hero.png" alt="" class="img-fluid rounded-circle mb-4">
            <h1 class="display-4">Kevin Castro</h1>
            <h2 class="lead">Técnico en Desarrollo de Software</h2>
            <div class="mt-4">
              <a href="https://www.instagram.com/kcg_.0410?igsh=ZmN4YjVtdWd5NWFo" target="_blank" class="text-white me-3"><i class="fa-brands fa-instagram"></i></a>
              <a href="#" class="text-white me-3"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
