<section id="sobremi" class="sobremi mt-5 pt-5 h-200 w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <div class="bg-dark text-white p-4 rounded-4">
          <h2 class="display-4">Sobre Mí</h2>
          <p><span>Hola, soy Kevin Castro.</span>
            Soy un desarrollador junior que busca con entusiasmo oportunidades en el mundo profesional. A pesar de ser nuevo en el campo, estoy lleno de pasión por la tecnología y tengo un gran deseo de aprender y crecer.
            Soy una persona autodidacta, con gran capacidad de aprendizaje y una actitud positiva. Estoy seguro de que puedo aportar valor con mi entusiasmo, dedicación y ganas de convertirme en un desarrollador integral.</p>

          <div class="fila">
              <!-- datos personales -->
              <div class="col">
                  <h3>Datos Personales</h3>
                  <ul>
                      <li>
                          <strong>Fecha de Nacimiento</strong>
                          10-04-2007
                      </li>
                      <li>
                          <strong>Teléfono</strong>
                          300 801 4847
                      </li>
                      <li>
                          <strong>Email</strong>
                          kevincastrogomezgmail.com
                      </li>
                      <li>
                          <strong>Dirección</strong>
                          Cll 92  #83-46 Medellín, Colombia
                      </li>
                      <li>
                          <strong>Cargo</strong>
                          <span>DESARROLLADOR</span>
                      </li>
                  </ul>
              </div>

              <!-- intereses -->
              <div class="col">
                  <h3>Intereses</h3>
                  <div class="contenedor-intereses">
                      <div class="interes">
                          <i class="fa-solid fa-gamepad"></i>
                          <span>JUEGOS</span>
                      </div>
                      <div class="interes">
                          <i class="fa-solid fa-headphones"></i>
                          <span>MUSICA</span>
                      </div>
                      <div class="interes">
                          <i class="fa-solid fa-plane"></i>
                          <span>VIAJAR</span>
                      </div>
                      <div class="interes">
                          <i class="fa-solid fa-guitar"></i>
                          <span>GUITARRA</span>
                      </div>
                      <div class="interes">
                          <i class="fa-solid fa-person-hiking"></i>
                          <span>DEPORTE</span>
                      </div>
                      <div class="interes">
                          <i class="fa-solid fa-book"></i>
                          <span>LIBROS</span>
                      </div>
                      <div class="interes">
                          <i class="fa-solid fa-pencil"></i>
                          <span>DIBUJO</span>
                      </div>
                      <div class="interes">
                          <i class="fa-solid fa-camera"></i>
                          <span>FOTOS</span>
                      </div>

                  </div>
              </div>
          </div>

          <button class="btn btn-primary" (click)="downloadCV()">
            Descargar CV <i class="fa-solid fa-download"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
