<section id="curriculum" class="curriculum pt-5 mt-5">
  <div class="contenido-seccion">
      <h2>Curriculum</h2>
      <div class="fila">
          <div class="col izquierda">
              <h3>Educación</h3>
              <div class="item izq">
                  <h4>Primaria y Bachillerato</h4>
                  <span class="casa">Colegio VID</span>
                  <span class="fecha">2012 - 2023</span>
                  <p>Título de Bachiller con profundización en informática</p>
                  <div class="conectori">
                      <div class="circuloi"></div>
                  </div>
              </div>
              <div class="item izq">
                  <h4>Tecnica Asistente en Desarrollo de Software</h4>
                  <span class="casa">Instituto Tecnico CESDE</span>
                  <span class="fecha">2023 - 2024</span>
                  <p>Tecnica en Desarrollo de Software con aprendizaje en HTML, CSS, Javascript, Bases de Datos, Java y aplicaciones Móviles</p>
                  <div class="conectori">
                      <div class="circuloi"></div>
                  </div>
              </div>
          </div>

          <div class="col derecha">
              <h3>Experiencia de trabajo</h3>
              <div class="item der">
                  <h4>Front Developer</h4>
                  <span class="casa">Renting Colombia SAS</span>
                  <span class="fecha">2023 - 2024</span>
                  <p>Practicane como Desarrollador FrontEnd en la empresa Renting Colombia</p>
                  <div class="conectord">
                      <div class="circulod"></div>
                  </div>
              </div>
              <div class="item der">
                  <h4>Front Developer</h4>
                  <span class="casa">Proyectos Personales</span>
                  <p>Autodidacta</p>
                  <div class="conectord">
                      <div class="circulod"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
